{% extends 'base.html' %}
{% block page_title %}
Lista de Tarefas

{% block content %}

        <h1 class="mb-4">Lista de Tarefas</h1>
        {% if Tarefas %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Concluída</th>
                    <th scope="col">Criada em</th>
                    <th scope="col">Data de entrega</th>
                    <th scope="col">Terminada em</th>
                    <th scope="col">Criada por</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for tarefa in Tarefas %}
                <tr>
                    <th scope="row">{{ tarefa.id }}</th>
                    <td>{{ tarefa.title }}</td>
                    <td>{{ tarefa.descricao }}</td>
                    <td>{{ tarefa.concluida|yesno:"Sim,Não" }}</td>
                    <td>{{ tarefa.created_at|default:"-" }}</td>
                    <td>{{ tarefa.deadline|default:"-" }}</td>
                    <td>{{ tarefa.finished_at|default:"-" }}</td>
                    <td>{{ tarefa.criador|default:"-" }}</td>
                    <td>
                        <a href="{% url 'tarefa_complete' pk=tarefa.pk %}" class="btn btn-sm btn-success" style="width: 70px;">concluir </a>
                        <a href="{% url 'tarefa_update' pk=tarefa.pk %}" class="btn btn-sm btn-primary" style="width: 70px;">Editar </a>
                        <a href="{% url 'tarefa_delete' pk=tarefa.pk %}" class="btn btn-sm btn-danger" style="width: 70px;">Excluir</a>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhuma tarefa encontrada.</p>
        {% endif %}
        <a href="{% url 'tarefa_create' %}" class="btn btn-dark">Nova Tarefa</a>
{% endblock content %}
{% endblock page_title %}