<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tarefa Flow</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
     <nav class="navbar bg-dark mb-4" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Tareffa Flow</a>
        </div>
    </nav>
    <main class="container">
        <h1 class="mb-4">Lista de Tarefas</h1>
        {% if Tarefas %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Concluída</th>
                    <th scope="col">Criada em</th>
                    <th scope="col">Data de entrega</th>
                    <th scope="col">Terminada em</th>
                    <th scope="col">Criada por</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for tarefa in Tarefas %}
                <tr>
                    <th scope="row">{{ tarefa.id }}</th>
                    <td>{{ tarefa.title }}</td>
                    <td>{{ tarefa.descricao }}</td>
                    <td>{{ tarefa.concluida|yesno:"Sim,Não" }}</td>
                    <td>{{ tarefa.created_at|default:"-" }}</td>
                    <td>{{ tarefa.deadline|default:"-" }}</td>
                    <td>{{ tarefa.finished_at|default:"-" }}</td>
                    <td>{{ tarefa.criador|default:"-" }}</td>
                    <td>
                        <a href="#" class="btn btn-sm btn-success" style="width: 70px;">concluir </a>
                        <a href="#" class="btn btn-sm btn-primary" style="width: 70px;">Editar </a>
                        <a href="#" class="btn btn-sm btn-danger" style="width: 70px;">Excluir</a>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Nenhuma tarefa encontrada.</p>
        {% endif %}
        
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>